.games-container {
  padding: 30px;
  color: white;
}

.xp-box {
  background: #141414;
  padding: 15px;
  border-radius: 12px;
  width: 150px;
  margin-bottom: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-list {
  display: flex;
  gap: 20px;
}

.sidebar {
  width: 250px;
  background: #0f0f0f;
  padding: 15px;
  border-radius: 12px;
}

.game-tab {
  padding: 12px;
  background: #181818;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.game-tab.active {
  background: #6b46ff;
}

.done {
  color: #00ff87;
}

.game-content {
  flex: 1;
  background: #0f0f0f;
  padding: 20px;
  border-radius: 10px;
}

.instructions {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.complete-btn {
  background: #6b46ff;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
